<app-header></app-header>
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" *ngFor="let item of arregloPerson;let index = index"
                [attr.data-slide-to]="index"></li>
        </ol>
        <div class="container mx-auto ">
            <!-- <ng-select class="carousel-item" *ngFor="let item of arregloPerson;let index = index;let isFirst = first"
                [ngClass]="{active:isFirst}">
                <app-user>[user]="getPeron(index)"</app-user>
                <h1>{{index}}</h1>
            </ng-select> -->
            <mat-form-field appearance="fill">
                <mat-label>People </mat-label>
                <mat-select [(ngModel)]="selectedValue" name="item" >
                  <mat-option *ngFor="let item of arregloPerson" [value]="item.Personid">
                    {{item.FirstName }} {{item.LastName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-user [id]=selectedValue></app-user>
              <div class="container p-2">
                <button type="button"  class="btn btn-outline-danger flex-grow-1">
                    <i class="fa-solid fa-heart"></i>

                </button>
                <button type="button" (click)="eliminarPersona(selectedValue)" class="btn btn-danger flex-grow-1">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </button>
              </div>
        </div>

    </div>
</div>