<app-header></app-header>
<div id="contenedor" class="container d-flex align-items-center justify-content-center">
    <ng-container *ngIf="products.length ==0">
        <div class="container">
            <div class="center">
                <h2>Tu bandeja esta vacia!</h2>
                <h4>Debes conocer a alguien para luego poder interactuar</h4>
                <button routerLink="/products" class="btn btn-danger">Conocer Ahora</button>
            </div>
        </div>
    </ng-container>
</div>

<!-- <div class="container">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
      <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <input class="fs-5 fw-semibold" [(ngModel)]="username"/>
      </div>
      <div class="list-group list-group-flush border-bottom scrollarea">
        <div class="list-group-item list-group-item-action py-3 lh-tight"
             *ngFor="let msg of messages"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{msg.username}}</strong>
          </div>
          <div class="col-10 mb-1 small">{{msg.message}}</div>
        </div>
      </div>
    </div>
    <form (submit)="submit()">
      <input class="form-control" placeholder="Escribe un mensaje" [(ngModel)]="message" />
    </form>
  </div> -->