.container{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
mat-form-field{
    padding-top: 2rem;
    width: 100%;
}
mat-label{
    color: var(--rosa);
}

image{
    align-items: center;
  justify-content: center;
  padding: 0;
    border: 0;
}
image img{
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
}
.arrow{
    display: flex;
  align-items: center;
  justify-content: center;
}
i{
    padding-top: 5rem;
    font-size: 5rem;
}